.head_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper_header {
    background: #FFD9B6;
    width: calc(100vw - 40px);
    padding: 20px 20px 44px 20px;
}

.screen_title {
    text-align: left;
    max-width: 270px;
    margin-top: 42px;
}

.time_wrapper {
    display: flex;
    align-items: center;
    margin-top: 44px;
}

.icon {
    margin-right: 10px;
}