.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.done_wrapper {
    position: fixed;
    bottom: 30px;
    left: calc(50vw - 142px);
    width: 273px;
}

.task_details_wrapper {
    width: 100vw;
}