.task_wrapper {
    position: absolute;
    top: 0px;
    left: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-left: 20px;
    background-color: #B6CAFF;
    height: 100px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 -3px 7px 0 rgba(0, 0, 0, 0.15);
    transition: .4s;
}

.time_wrapper {
    display: flex;
    margin-top: 12px;
    transition: .2s;
}

.time_icon {
    margin-right: 10px;
}

.task_info {
    margin-right: 30px;
    margin-top: 10px;
}

.task_title {
    max-width: 177px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task_more {
    margin-top: 10px;
}