.time_wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    height: 467px;
}

.time_text {
    display: flex;
    font-size: 14px;
    margin-bottom: 220px;
}

.time_text:last-child {
    margin-bottom: 0;
}

.time_text p {
    font-weight: 300;
}