.wrapper {
    display: flex;
    align-items: center;
}

.message {
    padding: 10px 14px;
    max-width: 45vw;
    margin:  0 20px 5px 20px;
    background-color: #e3e60e; /*f0f0f0*/
    border-radius: 6px;
}

.user_name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}

.message_text {
    font-size: 14px;
}