.context_wrapper {
    position: absolute;
    right: 45px;
    top: 20px;
    background: #fff;
    width: 181px;
    padding: 10px 5px;
    border-radius: 6px;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.15);
    transform-origin: right top;
    transition: .4s;
}



.context_item {
    display: flex;
    align-items: center;
}

.context_item:not(:last-child) {
    margin-bottom: 10px;
}

.context_icon {
    margin-right: 20px;
}

.delete_choose_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete_choose_wrapper .context_icon {
    margin-top: 30px;
    margin-right: 0;
}

.delete_choose_wrapper .context_item {
    margin-bottom: 0;
    margin-right: 70px;
}

.delete_button {
    padding: 1px 8px;
    border-radius: 3px;
    background: #1C1B1F;
}

.task_font {
    color: #ffff;
}