.context_wrapper {
    position: absolute;
    right: 45px;
    top: 20px;
    background: #fff;
    width: 181px;
    padding: 10px 5px;
    border-radius: 6px;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.15);
    transform-origin: right top;
    transition: .4s;
}



.context_item {
    display: flex;
    align-items: center;
}

.context_item:not(:last-child) {
    margin-bottom: 10px;
}

.context_icon {
    margin-right: 20px;
}